.app__gradient {
    height: 100vh;
    width: 100%;
    position: absolute;

    svg {
        //position: absolute;
        width: 537.06px;
        height: 306.65px;
        
        background: #C045B4;
        opacity: 0.75;
        filter: blur(229.167px);
    }
}