.app__navbar {
    //position: fixed;
    //top: 0;
    //background: #050009;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    max-width: 1080px;

    @media screen and (min-width: 1440px) {

    }

    @media screen and (max-width: 1024px) {
        padding: 0 3rem;
    }

    @media screen and (max-width: 768px) {
        padding: 0 2rem;
        height: 120px;
    }

    @media screen and (max-width: 425px){
        padding: 0 1.5rem;
        height: 80px;
    }
}

// .navbar.fixed {
//     width: 100%;

//     padding: 4rem 0rem 4rem 0rem;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     position: fixed;
//     z-index: 2;

//     //background-color: var(--black-color);
//     padding: 1rem 2rem ; 
//     background: rgba(255, 255, 255, 0);
//     backdrop-filter: blur(4px);
//     -webkit-backdrop-filter: blur(4px);
//     transition: 0.3s ease-in-out;
// }

.app__navbar-logo {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 0rem;
    //width: 100%;

    @media screen and (min-width: 1440px) {

    }

    @media screen and (max-width: 1024px) {
 
    }

    @media screen and (max-width: 768px) {

    }

    @media screen and (max-width: 425px){
        
    }


    img {
        height: 48px;

        @media screen and (min-width: 1440px) {

        }
    
        @media screen and (max-width: 1024px) {

        }
    
        @media screen and (max-width: 768px) {
            height: 48px;
        }

        @media screen and (max-width: 425px){
            height: 32px;
        }
    }
}

.app__navbar-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;

    &.active {
        color: #F82949;
    }
}

.app__navbar-btn {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.app__navbar-btn-link {
    border-radius: 40px;
    background: transparent;
    padding: 1.25rem 2rem;
    color: #fff;
    border: 2px solid #F82949;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    &:hover {
        transition: all 0.2s ease-in-out; 
        border: 2px solid #FB4F6A;
    }
}


.app__navbar-menu {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        display: none;
    }
}