#home {
    //position: relative;
    //background: var(--primary-color);
}

.app__header {
    width: 100%;
    min-height: 80vh;
    max-width: 1080px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    //padding: 6rem 2rem 0;

    @media screen and (min-width: 1440px) {
        //padding-top: 8rem;
    }

    @media screen and (max-width: 1024px) {
        
    }

    @media screen and (max-width: 768px) {
        //flex-direction: column;

    }

    @media screen and (max-width: 375px) {
        //flex-direction: column;

    }
}



.app__header-info {
    // flex: 0.65;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 96px;
    height: 100%;

}

.app__header-content {
    width: 100%;
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-end;
    // flex-direction: column;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;


    // width: 628px;
    // height: 270px;
    
  
    // span {
    //   font-size: 2.5rem;
  
    //   @media screen and (min-width: 2000px) {
    //     font-size: 5rem;
    //   }
    // }
  
    // @media screen and (max-width: 1200px) {
    //   justify-content: flex-start;
    //   align-items: flex-start;
    // }
}


.app__header-img {
    // flex: 1;
    height: 100%;
    width: 25vw;
  
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-end;
    // position: relative;
    // padding-right: 4rem;

    img {
      width: 100%;
      object-fit: contain;
      //z-index: 1;
      filter: 
        drop-shadow(0px 0px 250px rgba(247, 41, 75, 0.2))
        drop-shadow(0px 0px 100px rgba(247, 41, 75, 0.5));
    }
  

    @media screen and (min-width: 1440px) {
        width: 600px;
        
    }
    
    @media screen and (max-width: 1024px) {
    font-size: 3.5rem; 

    }
    
    @media screen and (max-width: 768px) {
    
    }
    
    @media screen and (max-width: 375px) {

    }
  }

  

